<div class="container">
<h3>Orders history </h3>
<div class="text-right">
    <%= link_to "Back", products_path, class: "btn btn-dark m-2" %>
</div>
<% if @orders.presence %>
<h5> total orders till date : <%= @orders.count %>
<table border="1px dotted" class="table table-striped">
<thead>  
  <tr>
    <th scope="col">sr.No<% srno = 1 %></th>
    <th scope="col">Order ID</th>
    <th scope="col">Delivery Address</th>
    <th scope="col">Order Amount</th>
    <th scope="col">Order Date </th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
  <tr>
    <th scope="row"><%= srno %><% srno+= 1 %></th>
    <td><%= link_to order.id, order %></td>
    <td><%= order.address %></td>
    <td><%= order.total_amount %></td>
    <td><%= order.order_date.to_date %></td>
  </tr>
  <% end %>
  </tbody>
</table>
  <% else %>
  <h3>Empty</h3>
<% end %>
</table>    
</div>