<div class="container">
<h3>Orders history </h3>
<div class="text-right">
    <%= link_to "Back", products_path, class: "btn btn-dark m-2" %>
</div>
<% if @orders.presence %>
<h5> total orders till date : <%= @orders.count %>
<table border="1px dotted" class="table table-striped">
<thead>  
  <tr>
    <th scope="col">sr.No<% srno = 1 %></th>
    <th scope="col">Order ID</th>
    <th scope="col">Delivery Address</th>
    <th scope="col">Order Amount</th>
    <th scope="col">Order Date </th>
  </tr>
  </thead>
  <tbody>
  <% @orders.each do |order| %>
  <tr>
    <th scope="row"><%= srno %><% srno+= 1 %></th>
    <td><%= link_to order.id, order %></td>
    <td><%= order.address %></td>
    <td><%= order.total_amount %></td>
    <td>
        <%= order.order_date.to_date %>
        <%#= link_to order_path(order), method: :delete, data: { turbo_method: :delete} do %>
          <!--svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708z"/>
        </svg-->
      <%# end %>
    </td>
  </tr>
  <% end %>
  </tbody>
</table>
  <% else %>
  <h3>Empty</h3>
<% end %>
</table>    
</div>