<div class="container">
  <div class="row" style="margin:5px;">  
    <div class="col-6">
      <h5>Total Products available : <%= @products.count %></h5>
    </div>
    
        <%= form_with url: products_search_path, class: "d-flex col-md-4 right", local: true do |form| %>
          <%= form.text_field :search, class: "form-control me-2", placeholder: "search product" %>
        <button class="btn btn-outline-success" type="submit">Search</button>
        <% end %>
    
</div>
	<div class="row">
  <% @products.each do |product| %>
		<div class="card" style="width: 15rem;margin:1px;">
    <% if product.image_url %>
    <%= image_tag product.image_url , class: "img-responsive"%>
    <% end %>
  <div class="card-body">
    <h5 class="card-title"><%= link_to product.name, product %></h5>
    <p class="card-text"><%= product.title  %></p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Category : <%= product.category&.name %></li>
    <li class="list-group-item">Rs. <%= product.price %></li>
    <li class="list-group-item"><%= product.quantity %> <%= product.status %></li>
  </ul>
  <div class="card-body">
  <%= link_to "View", product, :class => "btn btn-primary  card-link text-black" %>
        <% if product.quantity > 0 %>
        <%= link_to "Add To Cart", carts_path(product_id: product.id), method: :post, :class => "btn btn-outline-success text-black"  %>      
        <% else %>
          <strong style="color:red;">out of Stock</strong>
        <% end %>
   
  </div>
</div>
    <% end %>
	</div>	
</div>



